<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="adplusPath" value="C:\Program Files (x86)\Windows Kits\10\Debuggers\x64"/>
    <!--adplus的路径-->
    <add key="ProcessName" value="JobController"/>
    <!--要抓dump的进程的名字，可用部分名字，不用完整的-->
  </appSettings>
</configuration>